@model ApplicationUser
<div class="container" id="main" style="max-width:600px">
	<h3>Cập nhật thông tin</h3>
	
	<form method="post" enctype="multipart/form-data">
		<div asp-validation-summary="All" class="text-danger"></div>
		<input asp-for="Id" type="hidden"/>
		<div class="form-group">
			<lable asp-for="Name">Tên sản phẩm</Lable>
			<input asp-for="Name" type="text" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<lable asp-for="Address">Địa chỉ</Lable>
			<input asp-for="Address" type="text" class="form-control">
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
		<div class="form-group">
			<lable asp-for="PhoneNumber">Số điện thoại</Lable>
			<input asp-for="PhoneNumber" type="text" min="1" class="form-control">
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		<div class="form-group my-2">
			<button type="submit" class="btn btn-primary">Cập nhật</button>
			<a asp-action="KhachHang" class="btn btn-primary">Hủy</a>
		</div>
	</form>
</div>

@section scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
@section bootstrap{
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
@section cssHeavenICE_1{
	<link rel="stylesheet" href="~/css/HeavenICE_1.css" />
}
