<div id="main">
    <div class="main_item">
        <h2>Lời nói đầu</h2>
        <div class="content">
            Xin chào và chào mừng đến với HeavenICE - trang web bánh kem thượng hạng của chúng tôi!
        </div>
    </div>
    <div class="main_item">
        <h2>Về đội ngũ</h2>
        <div class="content">
            Chúng tôi là một đội ngũ các chuyên gia làm bánh kem đam mê và tận tâm, luôn tìm kiếm những
            nguyên liệu tốt nhất và những cách làm bánh mới nhất để mang đến những chiếc bánh kem đặc biệt
            nhất cho khách hàng của chúng tôi. Với
            <span class="off">...</span>
            <span class="on">
                một sự kết hợp tuyệt vời giữa sự tinh tế và sự sáng tạo, chúng tôi tự hào là một trong những
                thương hiệu bánh kem hàng đầu tại địa phương.
            </span>
        </div>
        <button onclick="on_off(this)">Thêm</button>
    </div>
    <div class="main_item">
        <h2>Đối với khách hàng</h2>
        <div class="content">
            Tại HeavenICE, chúng tôi luôn đặt khách hàng lên hàng đầu, và cam kết đưa đến cho họ những trải
            nghiệm mua sắm tuyệt vời nhất. Chúng tôi cung cấp các loại bánh kem đa dạng, từ bánh kem ngọt
            ngào và truyền thống cho đến
            <span class="off">...</span>
            <span class="on">
                những chiếc bánh kem mới lạ và độc đáo. Bên cạnh đó, chúng tôi cũng cung cấp các sản phẩm
                bánh ngọt khác như bánh quy.
            </span>
        </div>
        <button onclick="on_off(this)">Thêm</button>
    </div>
    <div class="main_item">
        <h2>Sản phẩm tại đây</h2>
        <div class="content">
            Chúng tôi hiểu rằng bánh kem không chỉ là một loại thức ăn, mà còn là một phần của cuộc sống và
            những dịp đặc biệt. Vì vậy, chúng tôi luôn cố gắng tạo ra những chiếc bánh kem đặc biệt nhất để
            giúp cho các dịp của khách hàng trở
            <span class="off">...</span>
            <span class="on">
                nên đặc biệt hơn. Chúng tôi cũng cung cấp các dịch vụ trang trí bánh tùy chỉnh, giúp khách
                hàng có thể tạo ra những chiếc bánh kem hoàn hảo cho mọi dịp.
            </span>
        </div>
        <button onclick="on_off(this)">Thêm</button>
    </div>
    <div class="main_item">
        <h2>Lời mời của chúng tôi</h2>
        <div class="content">
            Hãy ghé thăm trang web của chúng tôi để tìm hiểu thêm về các sản phẩm của chúng tôi và đặt hàng
            ngay hôm nay để thưởng thức những chiếc bánh kem ngọt ngào và đẹp mắt của HeavenICE. Chúng tôi
            cam kết mang đến cho
            <span class="off">...</span>
            <span class="on">khách hàng của mình những trải nghiệm mua sắm và thưởng thức bánh kem tuyệt vời nhất.</span>
        </div>
        <button onclick="on_off(this)">Thêm</button>
    </div>
    <div class="main_item">
        <h2>Cam kết</h2>
        <div class="content">
            Chúng tôi tận tâm trong việc làm bánh và cam kết sử dụng nguyên liệu tốt nhất để tạo ra những
            sản phẩm chất lượng cao nhất. Tất cả các bánh kem của chúng tôi đều được làm thủ công bởi những
            chuyên gia làm bánh có kinh nghiệm,
            <span class="off">...</span>
            <span class="on">
                đảm bảo rằng mỗi chiếc bánh có hương vị tuyệt vời và độ hoàn hảo trong từng chi tiết.
            </span>
        </div>
        <button onclick="on_off(this)">Thêm</button>
    </div>
    <div class="main_item">
        <h2>Lời kết</h2>
        <div class="content">
            Cảm ơn bạn đã ghé thăm trang web của chúng tôi. Chúng tôi hy vọng bạn sẽ tìm thấy những chiếc
            bánh kem mà bạn yêu thích và sẽ có một trải nghiệm mua sắm tuyệt vời tại HeavenICE!
        </div>
    </div>
</div>
@section cssHeavenICE_1{
    <link rel="stylesheet" href="~/css/About_2.css" />
}