@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div id="main">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>

@section bootstrap{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
@section cssHeavenICE_1{
    <link rel="stylesheet" href="~/css/HeavenICE_1.css" />
}